@{
    ViewData["Title"] = "About Page";
    string pageTitle = "About";
    var pageDescription = "<p>This is the About page.</p>";
}

<div class="text-center">
    <h1 class="display-4">@pageTitle</h1>
    <div>@Html.Raw(pageDescription)</div>
</div>
