@{
    ViewData["Title"] = "About Page";
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.PageTitle</h1>
    <div>@Html.Raw(ViewBag.PageDescription)</div>

    @if (ViewBag.Degrees.Length > 0)
    {
        <h2 class="display-5">My Degrees</h2>
        <div>
            @foreach (var degree in ViewBag.Degrees)
            {
                <p>@degree</p>
            }
        </div>
    }
</div>
